body div{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
input{
  outline: none !important;
}
h5, h3{
  margin: 0;
}
i {
  color: #666;
}
.viewBox .fa {
  display: block ;
}

[v-cloak] {
  display: none;
}
.pannelHead{
  height: 50px;
}
.row{
  display: flex !important;
  display: -webkit-flex !important;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.spa {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.spb {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.spc {
  justify-content: center;
  -webkit-justify-content: center;
}

.spe {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.als {
  align-items: center;
  -webkit-align-items: center;
}

.ale {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.alt{
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.viewBox{
  width: 100%;
  padding: 15px;
}

.pannelBox {
  width: calc(100% - 342px);
  padding: 10px;
  border: 1px #f0f0f0 solid;
}
.pannel{
  width: 100%;
  height: 620px;
  background-color: #f0f0f0;
  overflow: hidden;
}
.UI {
  width: 340px;
  height: 590px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
  margin: 10px auto;
  position: relative;
}

.UI .uHeader{
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background-color: rgb(255, 88, 88);
  font-size: 14px;
}
.UI .scrollBox {
  max-height: calc(100% - 40px);
  overflow: auto;
}
.editorBody {
  padding: 10px;
  padding-bottom: 70px;
  position: relative;
}

.addBtn{
  height: 45px;
  width: 45px;
  line-height: 44px;
  font-size: 28px;
  text-align: center;
  padding: 0 8px;
  background-color: #0060ce;
  border-radius: 23px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  color: #fff;
  cursor: pointer;
}

.toolBox{
  width: 342px;
  padding: 10px;
  border: 1px #f0f0f0 solid;
}

.toolType {
  margin-bottom: 12px;
  flex-wrap: nowrap;
}

.toolBox .toolType{
  cursor: pointer;
}
.toolBox .tool{
  height: 620px;
  overflow-y: auto
}

.imgBox{
  flex-grow: 1;
  border-radius: 4px;
  background-color: #c4daec;
  overflow: hidden;
}
.imgBox img {
  width: 100%;
  height: auto;
}

section{
  display: block;
  position: relative;
  min-height: 30px;
  overflow: hidden;
}
section.border{
  border: dashed 1px #0060ce;
  border-radius: 5px;
}

.tip{
  padding: 6px;
  color: #555;
  font-size: 15px;
}
.btn{
  line-height: 30px;
  font-size: 13px;
  padding: 0 8px;
  border-radius: 4px;
  width: auto;
  cursor: pointer;
  letter-spacing: 2px;
  text-align: center;
}
.confBtn{
  background-color: #0060ce;
  color: #fff;
}
.cansBtn{
  background-color: #d0d0d0;
  color: #666;
}
.inputBox{
  margin: 10px 0;
  min-height: 30px;
}
.inputBox p {
  font-size: 15px;
  line-height: 30px;
  margin: 0 10px ;
}
.inputBox input {
  border: none;
  border-bottom: 1px solid #e3e3e3;
  line-height: 29px;
  margin: 0 10px ;
}
.editeSection{
  position: absolute;
  right: 3px;
  top: 10px;
  width: auto;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #e3e3e3;
  padding: 6px;
}
.editeSection div{
  cursor: pointer;
}
.editeSection div:first-child {
  margin-right: 5px;
}
.editeSection img{
  display: inline-block;
  width: 20px;
  height: 20px;
  
}

.rightMenu{
  position: absolute;
  top: 0;
  width: 120px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  display: block;
  overflow: hidden;
}
.rightMenu>div{
  line-height: 32px;
  font-size: 15px;
  color: #666;
  padding: 0 10px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}
.rightMenu>div:hover{
  background: #666;
  color: #fff;
}
.rightMenu>div:last-child{
  border-bottom: none;
}

.uploadItem{
  width: 120px;
  height: 120px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin-right: 10px;
  overflow: hidden;
}
.uploadItem img{
  width: 100%;
  height: auto;
}
.imgInput{
  line-height: 30px;
  font-size: 13px;
  margin: 8px 0;
  border-radius: 4px;
  width: auto;
  /* background-color: #0060ce;
  color: #fff; */
}

.toast{
  padding: 12px;
  font-size: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 2000;
}

.myModal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: fixed;
  left: 0;
  top: 0;
}
.modalContainer{
  width: 500px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.modalContainer.tipModal{
  width: 320px;
}
.modalContainer > div{
  padding: 15px;
}
.modalContainer .btn{
  margin-left: 6px;
  width: 50px;
  text-align: center;
}
.modalHeader{
  font-size: 16px;
}
.modalBody{
  border-top: 1px solid #e3e3e3;
}
.modalFooter{
  border-top: 1px solid #e3e3e3;
}

.uploadBox{
  width: 320px;
}
.toolSlider{
  width: 100%;
  min-height: 110px;
  border-radius: 4px;
  background-color: #c4daec;
  overflow: hidden;
  color: #fff;
  text-align: center;
  line-height: 110px;
  position: relative;
}
.sliderItem{
  width: 100%;
  height: 100%;
  transition: all ease-in-out 1s;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}
.sliderItem img{
  width: 100%;
  height: auto;
  
}
.sliderItem.show{
  opacity: 1;
}

.uploadSlider{
  width: 320px;
  height: 110px;
}

.pageType{
  width: 80px;
  height: 40px;
  border: none;
  outline: none !important;
  margin-left: 20px;
  font-size: 16px;
}

.saveBtn{
  width: 35px;
  height: 35px;
  cursor: pointer;
  
}
.saveBtn i {
  font-size: 28px;
  color: #0060ce;
}